/* GLOBAL STYLES, OMG ! */
body {
  margin: 0;

  font-size: 1rem;
  line-height: 1.5rem;
  background: #000;
  color: #fff;
  /* stylelint-disable value-list-comma-newline-after */

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* stylelint-enable */
}

a {
  color: #092c7a;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

h1,
h2,
h3 {
  font-weight: 200;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

/* for .statinamic-HeadingAnchor */
:--headings {
  position: relative;
  font-weight: 700;
}

:global .statinamic-HeadingAnchor {
  position: absolute;
  left: -1.5rem;
  opacity: 0.1;
  transition: opacity 0.2s;

  @nest :--headings:hover & {
    opacity: 1;
  }
}

blockquote {
  opacity: 0.7;
  margin: 2rem 0;
}

/* local styles */

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 200%;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
  background: inline("./index.jpg") no-repeat center center;
  background-size: cover;

  @media screen and (min-width: 40rem) {
    font-size: 300%;
  }
}

.content {
  max-width: 60rem;
  margin: auto;
  padding: 1rem 0.75rem;
  font-weight: 700;
}

.last_year {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 0.5em;
  color: #fff;
}
